:root {
  --body-bg-color: #18181b;
  --neve: #FFFAFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  background: var(--body-bg-color);
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  color: var(--neve);
  margin-top: 22px;
  margin-bottom: 33px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 4px;
  border: 2px solid var(--neve);
}


.boxlinks {
  color: var(--neve);
  display: flex;
  flex-direction: column;
}

.boxlinks a {
  width: 326px;
  height: 49px;
  border: 2px solid var(--neve);
  border-radius: 4px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  margin-bottom: 16px;
  cursor: pointer;
  color: var(--neve);
  box-shadow: 10px 5px 5px #71717a;
}

.boxlinks a:hover {
  text-decoration: underline;
}


.icons {
  display: flex;
  justify-content: space-between;
  width: 236px;
  margin-top: 68px;
}

.icons a {
  cursor: pointer;
}

.icons a i {
  color: var(--neve);
}
